@import url(https://fonts.googleapis.com/css?family=Nunito);
.loading {
  background-color: rgba(0, 0, 0, 0.8078431373);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1060;
  display: none;
}

.loading .central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: visible;
}

.modal-dialog {
  z-index: 1000 !important;
}

.loading .central p {
  position: absolute;
  top: 65%;
  color: white;
  font-size: 1rem;
  text-align: center;
  animation-name: letra;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: out-in-ease;
}

.loader {
  width: 50px;
  height: 50px;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 34px solid transparent;
  border-color: transparent transparent #f7162c #f7162c;
  position: absolute;
  left: 0;
  top: 0;
  animation: mvx 1s infinite ease-out;
}

.loader:before {
  left: -1px;
  top: 1px;
  border-color: #f7162c #f7162c transparent transparent;
  animation-name: mvrx;
}

@keyframes mvx {
  0%, 25% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, 50%) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(180deg);
  }
}
@keyframes mvrx {
  0%, 25% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(180deg);
  }
}
@keyframes letra {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* -- ******** error validation jquery ************* -- */
.form-group .error {
  margin-top: 5px;
  padding: 2px;
  color: #D7001A;
  background-color: rgba(215, 0, 25, 0.1490196078);
  border-radius: 5px;
  transition: 2s ease-in;
}

.form-group .error:before {
  background: #D7001A !important;
  width: 80px !important;
  height: 1px !important;
  bottom: 7% !important;
}

/* -- *********************** -- */
/* -- ******** degradado colores ************* -- */
.bg-degradado {
  background: rgb(252, 5, 5);
  background: linear-gradient(90deg, rgb(252, 5, 5) 0%, rgb(204, 5, 5) 100%);
}

.boton-color {
  background: rgba(23, 23, 23, 0.768627451);
  box-shadow: 0 2px 6px #DF2D22;
  border: none;
}

.boton-color:hover {
  background: #DF2D22 !important;
}

.buttons-colvis {
  background-color: #362f30;
}

.buttons-html5 {
  background-color: #363636;
  box-shadow: none;
}

.buttons-html5::hover {
  background: #DF2D22 !important;
}

.buttons-print {
  background-color: #362f30;
  box-shadow: none;
}

.card.card-primary {
  border-top: 2px solid #DF2D22;
}

a.dropdown-item:focus, a.dropdown-item:active, a.dropdown-item.active {
  background-color: #DF2D22;
}

a .dropdown-item::active {
  background-color: #DF2D22;
}

/* -- *********************** -- */
/* -- ******** selecionar check ************* -- */
.selectgroup-input:focus + .selectgroup-button, .selectgroup-input:checked + .selectgroup-button {
  background-color: #DF2D22;
  color: #fff;
  z-index: 1;
  transition: 0.4s;
}

/* -- *********************** -- */
/* -- ******** range slider style ************* -- */
.range {
  width: 100%;
}

.range input {
  background: #DF2D22;
  height: 20px;
  width: 100%;
}

/* Estilos para el rango */
.range input[type=range] {
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: 0.5s;
}

/* Personalizar el riel del rango */
.range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #4D4D4D;
  border-radius: 5px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Personalizar el pulgar del rango */
.range input[type=range]::-webkit-slider-thumb {
  width: 7px;
  height: 20px;
  background-color: #DF2D22;
  border: 1px solid white;
  -webkit-appearance: none;
          appearance: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* Cambiar el color del riel cuando se activa el rango */
.range input[type=range]:active::-webkit-slider-runnable-track {
  background-color: rgba(223, 43, 34, 0.3254901961);
  background: rgb(252, 5, 5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: linear-gradient(180deg, rgb(252, 5, 5) 0%, rgb(143, 55, 55) 100%);
}

/* -- *********************** -- */
